{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - AITU News</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Arial:400,700'>
    </head>
    <body>
        <header>
            <h1><a href='/'>AITU News</a></h1>
        </header>
        <nav>
            <a href='/'>Home</a>
            <a href='/category'>Category</a>
            <a href='/contact'>Contact</a>
            <a href='/news/create'>Create News</a>
        </nav>
        <main>
            {{template "main" .}}
        </main>
        {{template "footer" .}}
        <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
</html>
{{end}}

